body {
    background-color: #CCCCFF;
    font-family: sans-serif;
    size: 14pt;
    font-weight: bold;
}

h1 {
    text-align: center;
    size: 32pt;
    font-weight: bold;

}

textarea {
    width: 90%;
    height: 400px;
    size: 21pt;
    font-weight: bold;
    font-family: monospace;
    margin-left: 5%;
}

fieldset {
    width: 6%;
    /* float: left; */
    display: inline;
    border: 3px solid black;
    margin-left: 5%;
}
.footer  {
    position: fixed;
    right: 3%;
    bottom: 3%;
    }
