body {
    background-image: url("http://getwallpapers.com/wallpaper/full/f/3/0/949358-astronomy-desktop-backgrounds-1920x1200-samsung.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

div {
    margin-left: 25%;
    width: 50%;
    height: 30px;

}

#id {
    width: 75%;

}