#taskContainer {
    position: relative;
    border: 5px solid blue;
    margin: 20%;
    width: 60%;
}
.rightColumn {
    position: absolute;
    margin-left: 50%;
    margin-top: -12%;
}
.leftColumn {
    margin-top: 2%;
}
#taskForm {
   
    margin: 5%;
}
input, button {
    width: 40%;
}
textarea {
    position: relative;
    max-width: 400px;
    max-height: 100px;
    /* min-width: 400px;
    min-height: 100px; */
}
h1 {
    color: blue;
}
