body {
    background-color: bisque;
}

#wholeContainer, .listCourse, .listMoives, .allign, .neighbor {
    text-align: center;
}

.header {

    font-family: 'Tapestry', cursive;
    text-align: auto;
    overflow: hidden;
    background-color: rgb(146, 115, 115);
    width: 100%;
    top: 0;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;


}

.footer {
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(146, 115, 115);
    color: white;
    text-align: center;
    padding: 14px 16px;
}

img {
    vertical-align: baseline;
    vertical-align: middle;
}

.per-image {
    border: 5px solid rgb(214, 205, 205);
    border-radius: 50%;
    padding: 10px;
    width: 342px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
ol, ul {
    display: inline;
}
li {
    font-size: 25px;
}

p {
    font-size: 25px;
    text-align: center;
    font-family: 'Tapestry', cursive;
}

a.links:hover {
    text-decoration: underline;
}

a.links:link {
    color: #ff0000;
    text-decoration: none;
}

a.links:visited {
    color: #0000ff;
    text-decoration: none;
}

a.links:hover {
    text-decoration: underline;
}

.par {
    text-align: center;
}

.happy {
    /**position: relative;*/
    border-radius: 20%;
    /**left: 10;*/
    border: 5px solid rgb(145, 112, 112);
    padding: 10px;
    text-shadow: 12px 12px;
    width: 20%;
}

.sad {
    /**position: absolute;*/
    /**float: right;
    top: 45em;
    left: 50em;*/
    border-radius: 20%;
    border: 5px solid rgb(145, 112, 112);
    padding: 10px;
    text-shadow: 12px 12px;
    width: 20%;
}