/* This assignment is about CSS and HTML for layout, positioning, and the CSS box model. The CSS file contains*/
/*Body properties and values */
body{
  font-family: Verdana,Tahoma, sans-serif;
  font-size: 8pt;
  background-image: url("./movieimages/background.png");
  background-color:rgb(220, 210, 150);
  margin: 0px;
  padding: 0px;
}
#head_banner {
  background-image: url("./movieimages/banner.png");
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: repeat-x;
}

#rightImage {
  float: right;
  background-color: #A2B964;
  width: 50%;
}
h1{
  text-align: center;
  font-family: Tahoma, Verdana, sans-serif ;
  font-size: 24pt;
  font-weight: bold;
  text-shadow: 3px 3px  #999999;
}
#poster{
  width: 800px;
  margin: auto;
  border: 4px solid gray;
  border-radius: 20px;
  overflow: hidden;
  height: fit-content;
}
#rightBanner{
  width: 33%;
  float: right;
  background-color: #A2B964;
  font-family: Arial,sans-serif;
  font-size: 8pt;
  font-weight: bold;
  
}
dl{
  padding: 10pt;
}

dd{
  padding-bottom: 10pt;
}

ul{
  list-style-type: none;
}
#bannerImage > img{
  width: 264px;
  height:350px;
}
#posterHeader{
 
  font-size: 48pt;
  color: red;
  font-weight: bold;
  background-image: url("./movieimages/rbg.png");

}
#posterHeader > img{
  vertical-align: bottom;
}
/* #reviews{
   width: 67%;
  overflow:auto; 
} */
.review{
  width: 93%;
  margin-top: 10px;
  margin-left: 10px;
}

p:nth-child(1){
  border: 2px gray solid;
  border-radius: 10px;
  padding: 8px;
  font-size: 8pt;
  font-weight: bold;
  overflow: auto;
  background-color: #E8DC9B; 
}
p > img{
  float: left;
}

p:nth-child(2){
  overflow: auto;
}
#posterFooter{
  clear: both;
}
.reviewColumn{
  width: 50%;
  float: left;
}
#posterFooter{
  background-color: #A2B964;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

#validation{
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.5;
}

.footer  {
  position: fixed;
  right: 0px;
  bottom: 0px;
  opacity: 50%;
  }




