html 
  title Number Quiz 
body 
  h1 The Number Quiz 

  p Your current score is #{score}
  p you have completed the quiz, with score of #{score} out of #{max}
  a(href="http://localhost:8080/")=RestartGame